<div class="container">
   <div class="row">
   <div class style="padding: 50px;">
      <h3 class="border bg-light">
        <div class="mx-3">会員情報編集</h3></div>

   </div>
   </div>
 </div>
 <div class = "container">
<div class ="row">
 <div class="offset-md-2">
    <%= form_with model: [:public, @customer],local: true do |f| %>
    <table>
      <tr>
      <th><%= f.label :氏名 %></th>
      <td><%= f.text_field :first_name, autofocus: true, id:"first_name",placeholder:"" %></td>
      <td><%= f.text_field :last_name, autofocus: true, id:"last_name",placeholder:"" %></td>
      </tr>
      <tr>
      <th><%= f.label :フリガナ %></th>
      <td><%= f.text_field :first_name_kana, autofocus: true, id:"first_name_kana",placeholder:"" %></td>
      <td><%= f.text_field :last_name_kana, autofocus: true, id:"last_name_kana",placeholder:"" %></td>
      </tr>
      <tr>
       <th><%= f.label :郵便番号 %></th>
       <td><%= f.text_field :postal_code, autofocus: true, id:"postal_code",placeholder:"" %></td>
      </tr>
      <tr>
       <th><%= f.label :住所 %></th>
      <td><%= f.text_area :address, autofocus: true, id:"address",placeholder:"",:size=>"30"  %></td>
      </tr>
      <tr>
      <th><%= f.label :電話番号 %></th> 
      <td><%= f.text_field :telephone_number, autofocus: true, id:"telephone_number",placeholder:"" %></td>
      </tr>
      <tr>
       <th><%= f.label :メールアドレス %></th>
      <td><%= f.text_field :email, autofocus: true, id:"email",placeholder:"" %></td>
        </tr>
       </table>
       </div>
         </div>
  
  
    <div class=" offset-md-2">
      <div class style="padding: 20px;">
       <%= f.submit "編集内容を保存",class: "btn btn-success" %>
    
    <% end %>
 
    <%= link_to "退会する", public_unsubscribe_path, class:"btn btn-danger" %>
 </div>
</div>
</div>
</div>