<div class="container">
   <div class="row">
   <div class style="padding: 50px;">
      <h3 class="border bg-light">
        <div class="mx-3">商品編集</h3></div>

   </div>
   </div>
 </div>
<div class="container">
  <div class="row">


<div class="offset-md-3">

     
  <%= form_with model: [:admin, @item] do |f| %>
       <!--% if @item.errors.any? %>
      <div id="error_explanation">
     <h3>< %= pluralize(@item.errors.count, "error") %> prohibited this book from being saved:</h3>
    <ul>
      < % @item.errors.full_messages.each do |message| %>
        <li>< %= message %></li>
      < % end %>
       </ul>
  </div>
  </div-->
   <table width="800px">
      <tr>
       <th><%= f.label :商品画像 %></th>
      <td><%= f.file_field :profile_image, placeholder: "ファイルを選択", accept: "image/*" %></td>
      </tr>
      <tr>
      <th><%= f.label :商品名 %></th>
      <td><%= f.text_field :name, autofocus: true, id:"name",placeholder:"" %></td>
      </tr>
      <tr>
      <th><%= f.label :商品説明 %></th>
      <td><%= f.text_area :introduction, autofocus: true, id:"introduction",placeholder:"" ,:size=>"60x5" %></td>
      </tr>

      <tr>
    　<th><%= f.label :ジャンル %></th>
    　<td><%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] },{prompt: "--選択してください--"} %></td>
      </tr>

      <tr>
      <th><%= f.label :税抜価格 %></th>
      <td><%= f.text_field :price, autofocus: true, id:"price",placeholder:"" %>円</td>
      </tr>

      <tr>


    　<th><%= f.label :販売ステータス %></th>
    　<td>
      <%= f.radio_button :is_active, true %>
      <%= f.label :is_active, '販売中', value: true %>

      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, '販売停止中', value: false %>

     </td>

      </tr>
     </table>
      
        
      <%= f.submit "変更を保存",class: "btn btn-success btn-lg" %>
       <% end %>
      </div>
        <div class= "text-size:50px">
     <div class= "offset-md-5">
    </div>
    </div>
  
     </div>
     </div>
    </div>
    </div>

