
 <div class="container">
   <div class="row">
    <div class style="padding: 50px;">
      <div class="d-flex justify-content-between">
        <h3 class="border bg-light">商品一覧</h3>

        <% if @admin == current_admin %>
        <button type="button" class="btn btn-outline-secondary rounded-circle p-0" style="width:2rem;height:2rem;">
        <%= link_to "＋", new_admin_item_path  %>
        </button>
       <% end %>
       </div>
       </div>
    </div>
   </div>
 </div>

<div class="container">
  <div class="row">

     <table class="table">
  　　　<thead>
    <tr>
       <th scope="col">商品ID</th>
      <th></th>
      <th scope="col">商品名</th>
      <th></th>
      <th scope="col">税抜価格</th>
      <th></th>
      <th scope="col">ジャンル</th>
      <th></th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
     <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.introduction %></td>
      <td><%= item.price %></td>
      <td><%= item.is_active %></td>
    </tr>
     <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>

<!--%= paginate items %-->


<!--ページネイションを入れる-->

