<div class="container">
   <div class="row">
   <div class style="padding: 50px;">
      <h3 class="border bg-light">
        <div class="mx-3">商品新規登録</h3></div>

   </div>
   </div>
 </div>

  <div class="mx-auto" style="width: 200px;">

    　<%= form_with(model: [:admin,@item] ,local: true) do |f| %>
      <% if @item.errors.any? %>
      <div id="error_explanation">
      <h3><%= pluralize(@item.errors.count,"error") %> prohibited book from being saved:</h3>
      <ul>
      <% @item.errors.full_messages.each do |message| %>
      <li>< %= message %></li>
      <% end %>
      </ul>
      </div>
      <% end %>
  

    
      <label for="inputPicture">商品画像</label>
      <%= f.file_field :profile_image, placeholder: "ファイルを選択", accept: "image/*" %>

      <div><label for="inputName">商品名</label>
      <div><%= f.text_field :name, autofocus: true, id:"name",placeholder:"商品名" %>

      <div><label for="inputIntroduction">商品説明</label>
      <div><%= f.text_area :introduction, autofocus: true, id:"introduction",placeholder:"ここに説明文を記述します" %>

    　<div class="field">
    　　　 <%= f.label :ジャンル　 %><br />
    　 　<%= f.select :genres, Genre.all.map { |genre| [genre.name, genre.id] } %>
  　　　</div>

       <label for="inputIntroduction">税抜価格
      <%= f.text_field :price, autofocus: true, id:"price",placeholder:"1000" %>円</label>


    　<%= form_with(model: [:admin,@item], local: true) do |f| %>
  　　<div class="done">
    　<%= f.label :販売ステータス %>
      <div>
      <%= f.radio_button :done, true %>
      <%= f.label :done, '販売中', value: true %>
      </div>
      <div>
      <%= f.radio_button :done, false %>
      <%= f.label :done, '販売停止中', value: false %>
     </div>
     </div>
   <% end %>



      <div><%= f.submit "新規登録",class: "btn btn-success" %>
     <% end %>

    </div>
    </body>
    </htm
