
<div class="container">
   <div class="row">
   <div class style="padding: 50px;">
      <h3 class="border bg-light">
        <div class="mx-3">商品詳細</h3></div>

   </div>
   </div>
 </div>

 <div class="container">
   <div class="row">
     <div class="col-5">
    <%= image_tag @item.get_profile_image(300,300) %>

     </div>
<div class="col-7">
<table class="table">
    <tr>
      <th>商品名</th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
     <th>商品説明</th>
     <td><%= @item.introduction %></td>
    </tr>
    <tr>
      <th>ジャンル</th>
      <td><%= @item.genre.name %></td>
    </tr>
    <tr>
      <th>税込価格（税抜価格）</th>
      <td><%= @item.add_tax_price.to_s(:dalimited) %>(<%= (@item.price).to_s(:delimited) %>)円</td>
    </tr>
    <tr>
      <th>販売ステータス</th>
      <td>
        <div class="text-success">
         <% if @item.is_active == true %>
        <%= "販売中" %> </div>
      <% else %>
      <div class="text-secondary">
        <%=  "販売停止中" %></div>
      <% end %>

      </td>
    </tr>
</table>
</div>
</div>
<div class style="padding: 30px;">
  <div class="row">

   <div class="offset-md-5">

<%= link_to "編集する", edit_admin_item_path(@item.id) ,class: "btn btn-success" %>
 </div>
 </div>
 </div>

</div>
