<div class="container">
   <div class="row">
   <div class style="padding: 50px;">
      <h3 class="border bg-light">

        <div class="mx-3">さんの会員情報編集</h3></div>

   </div>
   </div>
 </div>
<div class="container">
  <div class="row">


     <%= form_with model: [:admin, @customer],local: true do |f| %>

       <table width="650px">

       <!--% if @item.errors.any? %>
      <div id="error_explanation">
     <h3>< %= pluralize(@item.errors.count, "error") %> prohibited this book from being saved:</h3>
    <ul>
      < % @item.errors.full_messages.each do |message| %>
        <li>< %= message %></li>
      < % end %>
       </ul>
  </div>
  </div-->

      <tr>
       <th><%= f.label :会員ID %></th>
      <td><%= @customer.id %></td>
      </tr>
      <tr>
      <th><%= f.label :氏名 %></th>
      <td><%= f.text_field :first_name, autofocus: true, id:"name",placeholder:"" %>
          <%= f.text_field :last_name, autofocus: true, id:"name",placeholder:"" %></td>
      </tr>
      <tr>
      <th><%= f.label :フリガナ %></th>
      <td><%= f.text_field :first_name_kana, autofocus: true, id:"name",placeholder:"" %>
          <%= f.text_field :last_name_kana, autofocus: true, id:"name",placeholder:"" %></td>
      </tr>

      <tr>
    　<th><%= f.label :郵便番号 %></th>
    　<td><%= f.text_field :postal_code, autofocus: true, id:"name",placeholder:"" %></td>
      </tr>

      <tr>
      <th><%= f.label :住所 %></th>
      <td><%= f.text_field :address, autofocus: true, id:"name",placeholder:"" %></td>
      </tr>

　　　<tr>
      <th><%= f.label :電話番号 %></th>
      <td><%= f.text_field :telephone_number, autofocus: true, id:"name",placeholder:"" %></td>
      </tr>

      <tr>
      <th><%= f.label :メールアドレス %></th>
      <td><%= f.text_field :email, autofocus: true, id:"name",placeholder:"" %></td>
      </tr>


    　<th><%= f.label :会員ステータス %></th>
    　<td>
      

      <%= f.radio_button :is_deleted, false %>
      <%= f.label :is_deleted, '有効', value: false %>
      
　　　<%= f.radio_button :is_deleted, true %>
      <%= f.label :is_deleted, '退会', value: true %>
     </td>
     </div>

      </tr>
     </table>


      <div><%= f.submit "変更を保存",class: "btn btn-success" %>
     <% end %>
     </div>
    </div>
    </div>
