<div class="container">
   <div class="row">
    <div class style="padding: 50px;">

        <h3 class="border bg-light">注文履歴一覧</h3>
    </div>
   </div>
 </div>

 <div class="container">
  <div class="row">
     <table class="table">
  　　　<thead>
    <tr>
       <th scope="col">購入日時</th>
       <th scope="col">購入者</th>
       <th scope="col">注文個数</th>
       <th scope="col">注文ステータス</th>
    </tr>
  </thead>
   <tbody>
     <% [:public,@orders].each do |order| %>
    <tr>
     <td><%= link_to admin_order_path(:id) do %><%= order.created_at.to_s(:datetime_jp) %><% end %></td>
     <td><%= order.name %></td>
     <td><%= order.amount %></td>
     <td>
     <%= order.status %>
    <% end %></td>

     </td>
    </tr>

   </tbody>
   </table>
    <%= paginate @orders %>
  </div>
</div>