<div class="container">
     <div class style="padding: 50px;">
   <div class="row">
   <div class="mx-3">
      <h3 class="border bg-light">
       ショッピングカート</h3></div>
        <div class="offset-md-6">
        <h3 class="text-right">

		  <%= link_to public_cart_items_destroy_all_path, method: :delete do %>
		  <button class="btn btn-danger">カートを空にする</button></h3>
      <% end %>
      </div>
      </div>
   </div>
   </div>
 </div>

　  <div class="row">
　      <div class="offset-md-1 col-md-10">
 <table class="table">
   　　<thead>
  <tr>
     <th scope="col">商品名</th>
     <th scope="col"></th>
     <th scope="col">単価（税込）</th>
     <th scope="col">数量</th>
     <th scope="col">小計</th>
     <th scope="col"></th>
   </tr>
   </thead>
   <tbody>
   <% @cart_items.each do |cart_item| %>
   <tr>
     <td>  <%= image_tag cart_item.item.get_profile_image(100,100) %>
      <%= cart_item.item.name %></td>
     <td></td>
     <td><%= cart_item.item.with_tax_price%></td>
     <%= form_with model: cart_item, url: public_cart_item_path(cart_item), local: true do |f| %>
  <td><%= f.hidden_field :item_id, :value => @item_id %>
      <%= f.select :amount, *[1..30] %>

      <%= f.submit "変更",class: "btn btn-success" %></td>
  <% end %>
  <td><%= cart_item.subtotal%></td>
  <td>
   <%= link_to "削除する",public_cart_item_path(cart_item), method: :delete ,class:"btn btn-danger" %>
             
        <%#= link_to "削除する", public_cart_items_path(@cart_item.id),class: "btn btn-sm btn-danger",method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </td>
   </tr>
   <% end %>
 </tbody>
 </table>
 </div>

 </div>
 <div class style="padding: 30px;">
<div class="row">

    <div class="offset-md-2 md-4">
    <%= link_to "買い物を続ける",public_items_path,class: "btn btn-sm btn-primary" %></div>
    <div class="offset-md-5">
 <table class="table">
     <th scope="col">合計金額</th>
     <td></td>
     <td><%= @total_price.to_s(:delimited)%>円</td>
 </table>
</div>
 </div>
</div>



 <div class="row">
 <div class="offset-md-5">
 <%= link_to "情報入力に進む",new_public_order_path ,class: "btn btn-sm btn-success" %></div>
 </div>
