<div class="container">
   <div class="row">
   <div class style="padding: 50px;">
      <h3 class="border bg-light">
        <div class="mx-3">新規会員登録</h3></div>

   </div>
   </div>
 </div>

<div class="row">
    <div class="col-md-8 offset-md-2">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div class="row form-group">　
　<p>名前</p>
　  <%= f.label :（姓） %>
    <%= f.text_field :first_name, autofocus: true %>

　  <%= f.label :（名）%>
    <%= f.text_field :last_name, autofocus: true  %>
</div>

<div class="row form-group">
　<p>フリガナ</p>
　  <%= f.label :（セイ） %>
    <%= f.text_field :first_name_kana, autofocus: true %>

　  <%= f.label :（メイ）%>
    <%= f.text_field :last_name_kana, autofocus: true  %>
</div>
<div>
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
<div>
    <%= f.label :郵便番号（ハイフンなし） %>
    <%= f.text_field :postal_code, autofocus: true %>
<div>
   <%= f.label :住所 %>
    <%= f.text_field :address, autofocus: true %>
    
<div>
    <%= f.label :電話番号（ハイフンなし） %>
    <%= f.text_field :telephone_number, autofocus: true %>


 <div class="row form-group">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
</div>

<div class="row form-group">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

  <div class="actions">
    <%= f.submit "新規登録",class: "btn btn-primary" %>
  </div>
<% end %>

</div>
</div>

<p class="bg-light">
  <div class="mx-3">既に登録済の方</p></div>


<p><%=link_to"こちら", new_customer_session_path %>からログインしてください</p>

<!--render "public/shared/links" --