<div class="container">
   <div class="row">
    <div class style="padding: 50px;">

        <h3 class="border bg-light">注文情報確認</h3>
    </div>
   </div>
 </div>

<div class="container">
   <div class="row">

     <div class ="col-9">
 <table class ="table">
<!-- ユーザーに確認してもらうための表示です -->


  <tr>
    <th>商品名</th>
     <th></th>
     <th>単価（税込）</th>
     <th>数量</th>
     <th>小計</th>
  </tr>
  <tr>
  <% @cart_items.each do |cart_item| %>
   <td> <%= image_tag cart_item.item.get_profile_image(50,50) %><%= cart_item.item.name %> <!-- 商品名 --></td>
   <td></td>
   <td><%= (cart_item.item.price).to_s(:delimited) %>　<!-- 金額 --></td>
   <td><%= cart_item.amount %> <!-- 個数 --></td>
   <td><%= (cart_item.item.price*cart_item.amount).to_s(:delimited) %> <!-- 小計 --></td>
  </tr>

<% end %>
  </table>
  </div>
  <div class = "col-3">
  <%= form_with model: @order, url: public_orders_complete_path, local: true do |f| %>
<table class ="table">
  <tr>
    <th>送料</th>
    <td>800</td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><%= @total_price.to_s(:delimited) %></td>
  </tr>
  <tr>
    <th>請求金額</th>
    <td><%= (@total_price + 800).to_s(:delimited) %></td>
     <%= f.hidden_field :price, value: @total_price %>
  </tr>
 </table>
 </div>
 </div>
 <div class ="row">
<p><strong>支払い方法</strong>
     <%= @order.payment_method_i18n %>
  <%= f.hidden_field :payment_method %></p>
</div>
<div class ="row">
<p><strong>お届け先</strong></p>
<%= @order.postal_code %>
 <%= f.hidden_field :postal_code %>
<%=@order.address %>
 <%= f.hidden_field :address %>
<%= @order.name %><%= f.hidden_field :name %>

</div>
<!-- ユーザーには注文確定ボタンだけ表示します -->




<div class ="row">
  <%= f.submit "注文を確定する" %></div>
<% end %>


</div>