<div class="container">
   <div class="row">
    <div class style="padding: 50px;">

        <h3 class="border bg-light">注文履歴一覧</h3>
    </div>
   </div>
 </div>

 <div class="container">
  <div class="row">
     <table class="table">
  　　　<thead>
    <tr>
       <th scope="col">注文日</th>
       <th scope="col">配送先</th>
       <th scope="col">注文商品</th>
       <th scope="col">支払い金額</th>
       <th scope="col">ステータス</th>
    　<th scope="col">注文詳細</th>
    </tr>
  </thead>
   <tbody>
     <% @orders.each do |order| %>
    <tr>
     <td><%= order.created_at.to_s(:datetime_jp) %></td>
     <td>〒<%= order.postal_code %>
      <%= order.address %>
      <%= order.customer.first_name %><%= order.customer.last_name %></td>

     <td> <% order.order_details.each do |order_detail| %>
     <%= order_detail.item.name %>
     <% end %>
     </td>
     <td><%= (@total_price + 800) .to_s(:delimited) %>
       </td>
     <td><%= order.status_i18n %></td>
     <td><%= link_to "表示する",public_order_path(order.id),class: "btn btn-sm btn-primary" %></td>

    <% end %>

    </tr>

   </tbody>
   </table>
    <%= paginate @orders %>
  </div>
</div>