<div class="container">
   <div class="row">
   <div class style="padding: 50px;">
      <h3 class="border bg-light">
        <div class="mx-3">注文情報入力</h3></div>

   </div>
   </div>
 </div>
 <div class ="container">
 <div class ="row">
   <%= form_with model: @order, url:public_orders_confirm_path ,local: true do |f| %>
   <h4><strong>支払い方法</strong></h4>
     <%= f.radio_button :is_active, true %>
      <%= f.label :payment_method, 'クレジットカード', value: true %>

      <%= f.radio_button :is_active, false %>
      <%= f.label :payment_method, '銀行振込', value: false %>

  <h4><strong>お届け先</strong></h4>
   <%= f.radio_button :address_number, 1 %> <!-- address_number と定義して1～3の番号を check に送ります -->
   <%= f.label :address_number_1, "ご自身の住所" %>

   <%= (current_customer.postal_code)+(current_customer.address) %>
   <%= (current_customer.first_name) + (current_customer.last_name) %>
   <div>
    <%= f.radio_button :address_number, 2 %>
   <%= f.label :address_number_2, "登録先の住所" %>
   <%= f.select :order_id, Order.all.map { |order| [order.name, order.id] },{prompt: "--選択してください--"} %>
    <!--%= f.collection_select(:registered, current_customer.addresses.all, :id, :address %>
<!-- registered として current_customer.address.all で取得した id を送ります。
     ユーザーに表示して選択してもらうのは address です -->
     <div>
  <%= f.radio_button :address_number, 3 %>
 <%= f.label :address_number_3, "新しいお届け先" %>
 <div>
 <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
  <%= f.text_field :postal_code %>
 <div>
 <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  <div>
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name %>
<!-- 選んでもらったデータを送ります -->
<div class ="text-center">
  <%= f.submit "確認画面へ進む" %>
 </div>
 </div>

 <% end %>