<div class="container">
   <div class="row">
   <div class style="padding: 50px;">
      <h3 class="border bg-light">
        <div class="mx-3">注文情報入力</h3></div>

   </div>
   </div>
 </div>
 <div class ="container">
 <div class ="row">
   　<%= form_with model: @item,local: true do |f| %>
   <h4><strong>支払い方法</strong></h4>
   　 <%= f.radio_button :is_active, true %>
      <%= f.label :is_active, 'クレジットカード', value: true %>

      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, '銀行振込', value: false %>
  <h4><strong>お届け先</strong></h4>
  　   <%= f.radio_button :is_active, true %>
      <%= f.label :is_active, 'ご自身の住所', value: true %>
      <%= @customer.address %>
     <div>
     <%= f.radio_button :is_active, false %>
     <%= f.label :is_active, '登録済住所から選択', value: true %>
     <%= f.select :customer_id, Customer.all.map { |customer| [customer.address, customer.id] },{prompt: "--選択してください--"} %></td>

     <div>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, '新しいお届け先', value: true %>
      <div>
      <%= f.label:郵便番号 %>
      <%= f.text_field:postal_code, autofocus: true, id:"postal_code",placeholder:"" %>
       <div>
      <%= f.label:住所 %>
      <%= f.text_field:address, autofocus: true, id:"address",placeholder:"" %>
       <div>
      <%= f.label:宛名 %>
      <%= f.text_field:name, autofocus: true, id:"name",placeholder:"" %></td>
       <div class = "text-center">
         <div><%= f.submit "確認画面に進む",class: "btn btn-primary" %>
       </div>
   <% end %>
 </div>
 </div>
