<div class="container">
   <div class="row">
   <div class style="padding: 50px;">
      <h3 class="border bg-light">
        <div class="mx-3">注文情報入力</h3></div>

   </div>
   </div>
 </div>
 <div class ="container">
 <div class ="row">

   <%= form_with model: @order, url:public_orders_confirm_path ,local: true do |f| %>
   <h4><strong>支払い方法</strong></h4>
   <div>
      <h5><%= f.radio_button :payment_method,Order.payment_methods.key(0)  %>
    <%= f.label :payment_method_credit_card,  Order.payment_methods_i18n[:credit_card] %>  </h5>

     <h5> <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>   </h5>

  <h4><strong>お届け先</strong></h4>
   <h5><%= f.radio_button :select_address, 1 %> <!-- address_number と定義して1～3の番号を check に送ります -->
   <%= f.label :select_address, "ご自身の住所" %></h5>

   <h5>〒<%= (current_customer.postal_code)+(current_customer.address) %></h5>
   <h5><%= (current_customer.first_name) + (current_customer.last_name) %></h5>
   <div>

  <h5> <%= f.radio_button :select_address, 2 %>
 <%= f.label :select_address, "新しいお届け先" %></h5>

    <table>
    <tr>
  <th scope="col"><h5><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></th>
   <td><%= f.text_field :postal_code ,class:"col-lg-7" %></h5></td>
   </tr>
 <tr>
 <th scope="col"><h5> <%= f.label :address, "住所" %></th>
  <td><%= f.text_field :address ,  size:50 %></h5></td>
  </tr>
  <tr>
 <th scope="col"><h5><%= f.label :name, "宛名" %></th>
  <td><%= f.text_field :name ,class:"col-lg-7" %></h5></td>
  </tr>
  </table>
<!-- 選んでもらったデータを送ります -->
<div class ="text-center">
  <h5> <%= f.submit "確認画面へ進む" %></h5>
 </div>
 </div>

 <% end %>