<div class="container">
   <div class="row">
    <div class style="padding: 50px;">

        <h3 class="border bg-light">注文履歴詳細</h3>
    </div>
   </div>
 </div>

 <div class="container">
  <div class="row">
    <h5><strong>注文情報</strong></h5>
     <table class="table">
  　
    <tr>
       <th scope="col">注文日</th>
       <td><%= @order.created_at.to_s(:datetime_jp) %></td>
       <th scope="col">配送先</th>
       <td>〒<%= @order.postal_code %>
      <%= @order.address %>
      <%= @order.customer.first_name %><%= @order.customer.last_name %></td>
       <th scope="col">支払い方法</th>
       <td><%= @order.payment_method_i18n %></td>
       <th scope="col">ステータス</th>
       <td><%= @order.status_i18n %></td>
    </tr>
    </table>

     
   
     <td> <%# order.order_details.each do |order_detail| %>
     <%#= order_detail.item.name %>
     <%# end %>
     </td>
     <td>
       </td>
     <td><%= @order.status_i18n %></td>
     <td></td>

 

    </tr>
   <table>
   
   <h5><strong>請求情報</strong></h5>
   <table class="table">
  　　　<thead>
    <tr>
       <th scope="col">商品合計</th>
       <td><%= @total_price.to_s(:delimited) %></td>
       <th scope="col">配送料</th>
       <td>800</td>
       <th scope="col">ご請求金額</th>
       <td><%= (@total_price + 800) .to_s(:delimited) %></td>
    </tr>

</table>
  </div>
</div>