    <div class="container">
   <div class="row">
   <div class style="padding: 50px;">
    <h2><strong>商品一覧</strong>(全<%= @items.count %>件)</h2>
    </div>
   </div>
 </div>

<div class="container">

<div class="row">
 <% @items.each do |item| %>

 <div class="col-md-3">

   <%= link_to public_item_path(item.id) do %>
    <%= image_tag item.get_profile_image(100,100) %>

   <div><%= item.name %></div>
      <div>¥<%= item.add_tax_price.to_s(:dalimited) %> </div>
     <% end %>
     <%= paginate @items %>
</div>
     <% end %>

</div>

</div>
