    <div class="container">
   <div class="row">
   <div class style="padding: 50px;">
    <h2><strong>商品一覧</strong>(全<%= @items.count %>件)</h2>
    </div>
   </div>
 </div>


     <% @items.each do |item| %>
     <%= link_to public_item_path(item.id) do %>
        <%= image_tag item.get_profile_image(100,100) %>
      <%= item.name %>

      <p>¥<%= item.add_tax_price.to_s(:dalimited) %></p>
     <% end %>

     <% end %>


